body{
  max-width: 700px;
  width: 80%;
  margin: auto;
  border: 20px solid #BDC3C7;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Source Sans Pro;
}

.quote{
  border-left: 4px solid #BDC3C7;
  padding-left: 4px;
}

div p{
  font-weight: 600;
  color: #2c3e50;
}

.date{
  color: #3498db;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

h2{
  color: #2c3e50;
  font-size: 2.0rem
}
