h1{
  text-align: center;
  width: 25%;
  margin: 0 auto 0 auto;

}
table{
  width: 25%;
  margin: 0 auto 0 auto;
}

th{
  width: 100px;
  height: 100px;
}

tr th:nth-of-type(2){
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}

tr:nth-of-type(2) th{
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}
